// Colors

// Background Colors
$bg-main: #e77f67;
$bg-secondary: #82888057;
$bg-primary: #e77f67;
$bg-green: #87d56c;
$logo-color: #dfd8d8;
$bg-white: #f1f0f0;
$bg-shadow: #808080;

// Font Colors
$font-color-primary: #303952;
$font-color-primary2: #252525;
$font-color-secondary: #f0eaea;
$font-link-color: #3357b2;

// Fonts

$font-poketMonk: "PocketMonk";
$font-pokemonRegular: "PokemonRegular";
$font-onePiece: "OnePiece";
$font-naruto: "Naruto";
$font-manga: "Manga";
$font-lobster: "Lobster";
$font-redHat: "RedHat";
$font-lobsterTwo-regular: "LobsterTwoRegular";
$font-lobsterTwo-italic: "LobsterTwoItalic";

$font-neuton-regular: "NeutonRegular";
$font-neuton-bold: "NeutonBold";

// Z-index

$z-index-normal: 10;
$z-index-overlay: 5;
