// Pokemon

@font-face {
  font-family: "PocketMonk";
  src: url("../../../fonts/PocketMonk.ttf");
}

@font-face {
  font-family: "PokemonRegular";
  src: url("../../../fonts/PokemonSolidNormal-xyWR.ttf");
}

// One piece

@font-face {
  font-family: "OnePiece";
  src: url("../../../fonts/OnePiece-zAqL.ttf");
}

// Naruto

@font-face {
  font-family: "Naruto";
  src: url("../../../fonts/NinjaNaruto-YOn4.ttf");
}

// Manga

@font-face {
  font-family: "Manga";
  src: url("../../../fonts/Manga-4vx6.ttf");
}

// Lobster

@font-face {
  font-family: "Lobster";
  src: url("../../../fonts/Lobster-Regular.ttf");
}

// Red Hat Display

@font-face {
  font-family: "RedHat";
  src: url("../../../fonts/Red_Hat_Display/RedHatDisplay-Regular.ttf");
}

// Lobster-Two

@font-face {
  font-family: "LobsterTwoRegular";
  src: url("../../../fonts/Lobster_Two/LobsterTwo-Regular.ttf");
}

@font-face {
  font-family: "LobsterTwoItalic";
  src: url("../../../fonts/Lobster_Two/LobsterTwo-Italic.ttf");
}

// Neuton

@font-face {
  font-family: "NeutonRegular";
  src: url("../../../fonts/Neuton/Neuton-Regular.ttf");
}

@font-face {
  font-family: "NeutonBold";
  src: url("../../../fonts/Neuton/Neuton-Bold.ttf");
}
