.__otaku {
  &_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
    background: $bg-primary;
    justify-content: space-between;
    line-height: 1;

    &-wrapper1 {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      justify-content: center;
    }

    &-logo {
      font-family: $font-lobster;
      font-size: 5rem;
      color: $logo-color;

      a {
        color: inherit;

        &:hover {
          color: inherit;
        }
      }
    }

    &-search {
      display: flex;
      align-items: center;
      margin: 0 auto;

      &--input {
        border-radius: 1.25rem !important;
        font-family: $font-lobster;
        width: 40rem !important;
        background: $bg-white !important;
        border: none !important;

        input {
          background: transparent;
          font-size: 1.5rem;
          color: $bg-primary;
        }

        &__icon {
          color: $bg-primary !important;
          font-size: 1.5rem;
          margin: 0 0.5rem 0 0;
        }

        &:placeholder {
          font-family: $font-lobster;
          color: $font-color-secondary !important;
        }
      }
    }

    &-icons {
      display: flex;
      flex-direction: row;
      align-items: center;
      span {
        margin: 0 1rem !important;
        cursor: default !important;
        a:hover {
          opacity: 1;
        }
        svg {
          cursor: pointer;
          transition: all ease-in-out 0.1s;

          &:hover {
            opacity: 0.5;
          }
        }
      }
    }

    &-icons {
      &--user {
        &__dropdown {
          position: absolute;
          width: 20rem;
          right: -5rem;
          text-align: center;
          border-radius: 2rem;
          background: $font-color-secondary;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          &_image {
            img {
              height: 5rem;
            }
          }

          &_name {
            font-family: $font-lobster;
            font-size: 2rem;
          }

          &_options {
            display: flex;
            flex-direction: column;
            text-align: left;
            margin: 1rem 0 1rem 4.5rem;

            a {
              font-size: 1.5rem;
              font-family: $font-redHat;
            }
          }

          &_logout {
            button {
              padding: 0.5rem 3rem;
              outline: none;
              border: none;
              border-radius: 1rem;
              font-family: $font-lobster;
              background: $bg-main;
              cursor: pointer;
              color: $font-color-secondary;
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}
